In [35]:
import pandas as pd

In [36]:
df1 = pd.read_csv('./Final_dataset.csv')
df1.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,2.0,2020-01-25 14:11:41,2020-01-25 14:18:47,1.0,1.1,1.0,N,237,236,1.0,7.0,0.0,0.5,2.06,0.0,0.3,12.36,2.5
1,1,2.0,2020-01-15 06:13:45,2020-01-15 06:18:16,1.0,0.8,1.0,N,263,237,1.0,5.0,0.0,0.5,1.00,0.0,0.3,9.30,2.5
2,2,1.0,2020-01-14 18:18:34,2020-01-14 18:24:29,1.0,0.4,1.0,N,170,107,1.0,5.5,3.5,0.5,1.95,0.0,0.3,11.75,2.5
3,3,2.0,2020-01-19 10:26:50,2020-01-19 10:26:53,1.0,0.0,1.0,N,264,264,3.0,-2.5,0.0,-0.5,0.00,0.0,-0.3,-3.30,0.0
4,4,1.0,2020-01-11 10:22:00,2020-01-11 10:29:37,1.0,1.2,1.0,N,239,43,1.0,7.0,2.5,0.5,2.05,0.0,0.3,12.35,2.5

In [38]:
df2 = pd.read_csv('./Taxi_Zone_final.csv')
df2.head()

,Unnamed: 0,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,latitude,longitude,Within NYC or Not
0,0,9.352230e+05,190535.0526,1,0.116357,0.000782,Newark Airport,1,EWR,40.689064,-74.177255,within latitude; within longitude
1,1,1.032516e+06,167292.4932,2,0.433470,0.004866,Jamaica Bay,2,Queens,40.603994,-73.835412,within latitude; within longitude
2,2,1.025883e+06,254779.6006,3,0.084341,0.000314,Allerton,3,Bronx,40.863141,-73.861346,within latitude; within longitude
3,3,9.906188e+05,203105.5323,4,0.043567,0.000112,Alphabet City,4,Manhattan,40.725102,-73.979583,within latitude; within longitude
4,4,9.314680e+05,139837.4784,5,0.092146,0.000498,Arden Heights,5,Staten Island,40.556496,-74.173875,within latitude; within longitude

In [49]:
df3 = df3.drop(['Unnamed: 0', 'X', 'Y', 'OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone','borough', 'Within NYC or Not'], axis=1)
df3 = df3.rename(columns={"LocationID":"PULocationID", "latitude":"PUlatitude", "longitude":"PUlongitude"})
df3.head()

   PULocationID  PUlatitude  PUlongitude
0             1   40.689064   -74.177255
1             2   40.603994   -73.835412
2             3   40.863141   -73.861346
3             4   40.725102   -73.979583
4             5   40.556496   -74.173875

In [50]:
df4 = df2.drop(['Unnamed: 0', 'X', 'Y', 'OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone','borough', 'Within NYC or Not'], axis=1)
df4 = df4.rename(columns={"LocationID":"DOLocationID", "latitude":"DOlatitude", "longitude":"DOlongitude"})
df4.head()

   DOLocationID  DOlatitude  DOlongitude
0             1   40.689064   -74.177255
1             2   40.603994   -73.835412
2             3   40.863141   -73.861346
3             4   40.725102   -73.979583
4             5   40.556496   -74.173875

In [54]:
df5 = pd.merge(df1, df3, how="left", on=["PULocationID", "PULocationID"])
df5.head(20)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,PUlatitude,PUlongitude
0,0,2.0,2020-01-25 14:11:41,2020-01-25 14:18:47,1.0,1.10,1.0,N,237,236,...,7.0,0.0,0.5,2.06,0.00,0.3,12.36,2.5,40.779468,-73.958265
1,1,2.0,2020-01-15 06:13:45,2020-01-15 06:18:16,1.0,0.80,1.0,N,263,237,...,5.0,0.0,0.5,1.00,0.00,0.3,9.30,2.5,43.670470,-79.387252
2,2,1.0,2020-01-14 18:18:34,2020-01-14 18:24:29,1.0,0.40,1.0,N,170,107,...,5.5,3.5,0.5,1.95,0.00,0.3,11.75,2.5,40.749533,-73.976097
3,3,2.0,2020-01-19 10:26:50,2020-01-19 10:26:53,1.0,0.00,1.0,N,264,264,...,-2.5,0.0,-0.5,0.00,0.00,-0.3,-3.30,0.0,NaN,NaN
4,4,1.0,2020-01-11 10:22:00,2020-01-11 10:29:37,1.0,1.20,1.0,N,239,43,...,7.0,2.5,0.5,2.05,0.00,0.3,12.35,2.5,40.769244,-73.990767
5,5,2.0,2020-01-21 17:59:01,2020-01-21 18:21:05,4.0,2.57,1.0,N,161,211,...,15.0,1.0,0.5,2.20,0.00,0.3,21.50,2.5,40.758191,-73.999015
6,6,2.0,2020-01-12 13:58:31,2020-01-12 14:08:13,2.0,1.78,1.0,N,239,236,...,8.5,0.0,0.5,2.95,0.00,0.3,14.75,2.5,40.769244,-73.990767
7,7,2.0,2020-01-29 18:14:20,2020-01-29 18:21:51,2.0,0.77,1.0,N,163,161,...,6.5,1.0,0.5,2.16,0.00,0.3,12.96,2.5,40.765203,-73.985104
8,8,2.0,2020-01-09 12:13:51,2020-01-09 12:20:11,2.0,0.74,1.0,N,237,229,...,5.5,0.0,0.5,0.00,0.00,0.3,8.80,2.5,40.779468,-73.958265
9,9,2.0,2020-01-15 19:50:31,2020-01-15 20:04:00,2.0,1.93,1.0,N,161,142,...,10.5,1.0,0.5,3.70,0.00,0.3,18.50,2.5,40.758191,-73.999015
10,10,1.0,2020-01-16 14:40:15,2020-01-16 14:43:02,2.0,0.40,1.0,N,79,107,...,4.0,2.5,0.5,1.00,0.00,0.3,8.30,2.5,40.729269,-73.987361
11,11,2.0,2020-01-28 09:11:42,2020-01-28 09:47:05,1.0,11.62,1.0,N,230,138,...,38.5,0.0,0.5,9.58,6.12,0.3,57.50,2.5,40.758168,-73.985525
12,12,1.0,2020-01-17 15:43:27,2020-01-17 15:55:04,1.0,1.50,1.0,N,230,234,...,9.0,3.0,0.5,2.55,0.00,0.3,15.35,2.5,40.758168,-73.985525
13,13,1.0,2020-01-09 17:12:51,2020-01-09 17:26:38,1.0,2.20,1.0,N,239,263,...,11.0,3.5,0.5,1.00,0.00,0.3,16.30,2.5,40.769244,-73.990767
14,14,2.0,2020-01-28 16:47:52,2020-01-28 17:33:21,2.0,6.90,1.0,N,148,72,...,31.0,1.0,0.5,0.00,0.00,0.3,35.30,2.5,40.715936,-73.986806
15,15,2.0,2020-01-28 12:13:27,2020-01-28 12:25:58,1.0,1.00,1.0,N,170,162,...,8.5,0.0,0.5,0.00,0.00,0.3,11.80,2.5,40.749533,-73.976097
16,16,1.0,2020-01-12 01:37:14,2020-01-12 01:46:01,1.0,1.40,1.0,N,68,211,...,7.5,3.0,0.5,2.80,0.00,0.3,14.10,2.5,40.741378,-74.002447
17,17,2.0,2020-01-16 14:13:32,2020-01-16 14:19:22,1.0,0.75,1.0,N,43,161,...,5.5,0.0,0.5,2.64,0.00,0.3,11.44,2.5,40.782773,-73.965363
18,18,1.0,2020-01-23 00:18:51,2020-01-23 00:23:12,1.0,0.60,1.0,N,161,233,...,4.5,3.0,0.5,1.65,0.00,0.3,9.95,2.5,40.758191,-73.999015
19,19,2.0,2020-01-15 23:39:51,2020-01-15 23:53:32,1.0,4.30,1.0,N,114,80,...,15.5,0.5,0.5,0.00,0.00,0.3,19.30,2.5,40.733584,-74.002817

In [55]:
df6 = pd.merge(df5, df4, how="left", on=["DOLocationID", "DOLocationID"])
df6.head(20)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,PUlatitude,PUlongitude,DOlatitude,DOlongitude
0,0,2.0,2020-01-25 14:11:41,2020-01-25 14:18:47,1.0,1.10,1.0,N,237,236,...,0.5,2.06,0.00,0.3,12.36,2.5,40.779468,-73.958265,40.764873,-73.961511
1,1,2.0,2020-01-15 06:13:45,2020-01-15 06:18:16,1.0,0.80,1.0,N,263,237,...,0.5,1.00,0.00,0.3,9.30,2.5,43.670470,-79.387252,40.779468,-73.958265
2,2,1.0,2020-01-14 18:18:34,2020-01-14 18:24:29,1.0,0.40,1.0,N,170,107,...,0.5,1.95,0.00,0.3,11.75,2.5,40.749533,-73.976097,40.735519,-73.984079
3,3,2.0,2020-01-19 10:26:50,2020-01-19 10:26:53,1.0,0.00,1.0,N,264,264,...,-0.5,0.00,0.00,-0.3,-3.30,0.0,NaN,NaN,NaN,NaN
4,4,1.0,2020-01-11 10:22:00,2020-01-11 10:29:37,1.0,1.20,1.0,N,239,43,...,0.5,2.05,0.00,0.3,12.35,2.5,40.769244,-73.990767,40.782773,-73.965363
5,5,2.0,2020-01-21 17:59:01,2020-01-21 18:21:05,4.0,2.57,1.0,N,161,211,...,0.5,2.20,0.00,0.3,21.50,2.5,40.758191,-73.999015,40.722718,-74.001559
6,6,2.0,2020-01-12 13:58:31,2020-01-12 14:08:13,2.0,1.78,1.0,N,239,236,...,0.5,2.95,0.00,0.3,14.75,2.5,40.769244,-73.990767,40.764873,-73.961511
7,7,2.0,2020-01-29 18:14:20,2020-01-29 18:21:51,2.0,0.77,1.0,N,163,161,...,0.5,2.16,0.00,0.3,12.96,2.5,40.765203,-73.985104,40.758191,-73.999015
8,8,2.0,2020-01-09 12:13:51,2020-01-09 12:20:11,2.0,0.74,1.0,N,237,229,...,0.5,0.00,0.00,0.3,8.80,2.5,40.779468,-73.958265,40.757651,-73.961670
9,9,2.0,2020-01-15 19:50:31,2020-01-15 20:04:00,2.0,1.93,1.0,N,161,142,...,0.5,3.70,0.00,0.3,18.50,2.5,40.758191,-73.999015,40.775707,-73.991420
10,10,1.0,2020-01-16 14:40:15,2020-01-16 14:43:02,2.0,0.40,1.0,N,79,107,...,0.5,1.00,0.00,0.3,8.30,2.5,40.729269,-73.987361,40.735519,-73.984079
11,11,2.0,2020-01-28 09:11:42,2020-01-28 09:47:05,1.0,11.62,1.0,N,230,138,...,0.5,9.58,6.12,0.3,57.50,2.5,40.758168,-73.985525,40.775714,-73.873364
12,12,1.0,2020-01-17 15:43:27,2020-01-17 15:55:04,1.0,1.50,1.0,N,230,234,...,0.5,2.55,0.00,0.3,15.35,2.5,40.758168,-73.985525,40.735909,-73.990163
13,13,1.0,2020-01-09 17:12:51,2020-01-09 17:26:38,1.0,2.20,1.0,N,239,263,...,0.5,1.00,0.00,0.3,16.30,2.5,40.769244,-73.990767,43.670470,-79.387252
14,14,2.0,2020-01-28 16:47:52,2020-01-28 17:33:21,2.0,6.90,1.0,N,148,72,...,0.5,0.00,0.00,0.3,35.30,2.5,40.715936,-73.986806,40.658643,-73.925249
15,15,2.0,2020-01-28 12:13:27,2020-01-28 12:25:58,1.0,1.00,1.0,N,170,162,...,0.5,0.00,0.00,0.3,11.80,2.5,40.749533,-73.976097,40.759822,-73.972471
16,16,1.0,2020-01-12 01:37:14,2020-01-12 01:46:01,1.0,1.40,1.0,N,68,211,...,0.5,2.80,0.00,0.3,14.10,2.5,40.741378,-74.002447,40.722718,-74.001559
17,17,2.0,2020-01-16 14:13:32,2020-01-16 14:19:22,1.0,0.75,1.0,N,43,161,...,0.5,2.64,0.00,0.3,11.44,2.5,40.782773,-73.965363,40.758191,-73.999015
18,18,1.0,2020-01-23 00:18:51,2020-01-23 00:23:12,1.0,0.60,1.0,N,161,233,...,0.5,1.65,0.00,0.3,9.95,2.5,40.758191,-73.999015,40.760680,-73.966561
19,19,2.0,2020-01-15 23:39:51,2020-01-15 23:53:32,1.0,4.30,1.0,N,114,80,...,0.5,0.00,0.00,0.3,19.30,2.5,40.733584,-74.002817,40.714661,-73.932947