## importing required packages

- import numpy for linear algebra
- import pandas for loading the dataset, data processing
- import matplotlib and seaborn for visualization

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## load the datasets

- to take the sample :
  - we sample() function of pandas to extract sample from pandas.dataframe, using the random sampling method

###### january, 2020

In [2]:
df_2020_jan = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-01.csv')
df1 = df_2020_jan.sample(n = 5000)
# df1.head()

C:\Users\onkar\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

###### february, 2020

In [3]:
df_2020_feb = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-02.csv')
df2 = df_2020_feb.sample(n = 5000)
# df2.head()

###### march, 2020

In [4]:
df_2020_mar = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-03.csv')
df3 = df_2020_mar.sample(n = 5000)
# df3.head()

###### aprl, 2020

In [5]:
df_2020_apr = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-04.csv')
df4 = df_2020_apr.sample(n = 5000)
# df4.head()

###### may, 2020

In [6]:
df_2020_may = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-05.csv')
df5 = df_2020_may.sample(n = 5000)
# df5.head()

###### june,2020

In [7]:
df_2020_jun = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-06.csv')
df6 = df_2020_jun.sample(n = 5000)
# df6.head()

###### july, 2020

In [8]:
df_2020_jul = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-07.csv')
df7 = df_2020_jul.sample(n = 5000)
# df7.head()

###### august, 2020

In [9]:
df_2020_aug = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-08.csv')
df8 = df_2020_aug.sample(n = 5000)
# df8.head()

###### september, 2020

In [10]:
df_2020_sept = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-09.csv')
df9 = df_2020_sept.sample(n = 5000)
# df9.head()

###### october, 2020

In [11]:
df_2020_oct = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-10.csv')
df10 = df_2020_oct.sample(n = 5000)
# df10.head()

###### november, 2020

In [12]:
df_2020_nov = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-11.csv')
df11 = df_2020_nov.sample(n = 5000)
# df11.head()

###### december, 2020

In [13]:
df_2020_dec = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2020-12.csv')
df12 = df_2020_dec.sample(n = 5000)
# df12.head()

###### january, 2021

In [14]:
df_2021_jan = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-01.csv')
df13 = df_2021_jan.sample(n = 5000)
# df13.head()

###### february, 2021

In [15]:
df_2021_feb = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-02.csv')
df14 = df_2021_feb.sample(n = 5000)
# df14.head()

###### march, 2021

In [16]:
df_2021_mar = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-03.csv')
df15 = df_2021_mar.sample(n = 5000)
# df15.head()

###### april, 2021

In [17]:
df_2021_apr = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-04.csv')
df16 = df_2021_apr.sample(n = 5000)
# df16.head()

###### may, 2021

In [18]:
df_2021_may = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-05.csv')
df17 = df_2021_may.sample(n = 5000)
# df17.head()

###### june, 2021

In [19]:
df_2021_jun = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-06.csv')
df18 = df_2021_jun.sample(n = 5000)
# df18.head()

###### july, 2021

In [20]:
df_2021_jul = pd.read_csv('D:/Project/Datasets ( from 01-2021 to 07-2021 )/yellow_tripdata_2021-07.csv')
df19 = df_2021_jul.sample(n = 5000)
# df19.head()

###### to merge the datasets:

- we use the concat() function of pandas to merge all the samples of datasets

In [21]:
df_merged = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19])
# df_merged.head()

###### reset the index

In [22]:
df = df_merged.reset_index(drop=True)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2020-01-27 22:56:45,2020-01-27 23:01:01,1.0,0.70,1.0,N,144,148,1.0,5.0,0.5,0.5,1.76,0.0,0.3,10.56,2.5
1,1.0,2020-01-29 17:55:13,2020-01-29 18:07:49,1.0,1.20,1.0,N,161,237,1.0,9.0,3.5,0.5,2.65,0.0,0.3,15.95,2.5
2,1.0,2020-01-06 18:29:41,2020-01-06 18:34:38,2.0,1.00,1.0,N,143,238,1.0,6.0,3.5,0.5,2.05,0.0,0.3,12.35,2.5
3,1.0,2020-01-30 08:35:34,2020-01-30 09:04:06,1.0,1.90,1.0,N,186,163,1.0,17.5,2.5,0.5,4.15,0.0,0.3,24.95,2.5
4,2.0,2020-01-13 14:21:53,2020-01-13 14:27:31,1.0,1.08,1.0,N,158,246,1.0,6.5,0.0,0.5,2.45,0.0,0.3,12.25,2.5

In [23]:
df.to_csv('D:/Project/Main/Final_dataset.csv')